body {
  font-family: "Inter";
  background-color: #373743;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.col {
  display: flex;
}

.row-direction{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row.center {
  align-items: center;
}

.product-image {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 240px;
  transition: transform 0.5s ease;
  margin-bottom: 0.5rem;
}


.price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-title {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.product-category {
  font-size: 0.8rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.cart-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

.cart-product-title {
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

.box-cart-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 1.5rem;
}
.add-products{
  color: #ffffff;
}

.button-add-cart:hover{
  transform: scale(1.0);
  background: #1E9631;
}

.favorite-button-add{
  color: white;
  display: flex;
  margin: 3px;
}

.favorite-button-add:hover {
  color: #FF5252;
  transform: scale(1.1); 
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.favorite-button{
  position: absolute;
  background: #F2F3F6;
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  cursor: pointer; 
  margin-left: 5px;
  margin-top: 5px;
}

.button-favorite{
  display: flex;
  margin: 3px;
}